#play,
#stop,
#help-button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
#speed {
  margin: 5px;
  width: 3rem;
  display: inline-block;
}

nav {
  width: 16rem;
  margin: auto;
  border-bottom: 2px solid gray;
}
nav h1 {
  float: right;
  margin: 0;
}
#container {
  margin: 10px;
}
.add {
  cursor: pointer;
  margin: 10px;
  display: inline-block;
}
.list {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 5px 0px;
  height: 8rem;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.list-marker {
  display: inline-block;
  background-color: black;
  color: white;
}
.card {
  margin: 5px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.card input {
  display: block;
  height: 3rem;
  width: 3rem;
}

.hiden {
  display: none;
}
